<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640385027934-qr3g2tfn103ofttvig306250mv7tg1cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640385027934-qr3g2tfn103ofttvig306250mv7tg1cs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>640385027934-iihnr0ut2hj5g4ltjctjefnrofk9kvfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXiMDAkpNQl3_dN9WaR7IDzvqA0tK_JVc</string>
	<key>GCM_SENDER_ID</key>
	<string>640385027934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dengueZero</string>
	<key>PROJECT_ID</key>
	<string>dengue-e5553</string>
	<key>STORAGE_BUCKET</key>
	<string>dengue-e5553.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640385027934:ios:0693da9657cca42ad749cf</string>
	<key>DATABASE_URL</key>
	<string>https://dengue-e5553-default-rtdb.firebaseio.com</string>
</dict>
</plist>